body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232946;
  font-family: "Lato", sans-serif;

  .container {
    background-color: #fffffe;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 10px;
    width: auto;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    .options {
      select {
        border: 1px solid #ccc;
        background-color: rgba(255, 255, 255, 0.753);
        padding: 10px;
        outline: none;
        border-radius: 3px;
      }
    }

    .result {
      margin: 10px 0;

      &__list {
        margin: 0;
        padding: 0 10px;

        &__item {
          background-color: #b8c1ec;
          border: 1px solid #ccc;
          border-radius: 3px;
          padding: 10px;
          margin: 10px 0;
          text-align: center;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
          list-style-type: none;
        }
      }
    }
  }
}
